<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>
<body class="container">
<h1 th:text="${title}">Title</h1>
<nav th:replace="fragments:: header"></nav>
<p th:text="${timeToPlay}"></p>
<form method="POST" style="max-width:200px;" th:object="${form}" action="/user/remove-time">
    <div class="form-group">
        <select name="timerId">
            <option th:each="timer : *{timers}"
                    th:text="${timer.number}"
                    th:value="${timer.number}">
                <span th:errors="*{timerId}" class="error"></span>
            </option>
        </select>
    </div>
    <input type="hidden" name="timeToPlay" th:value="*{user.timeToPlay}"/>
    <input type="hidden" name="userId" th:value="*{user.id}"/>
    <input type="submit" value="Update time"/>
<nav th:replace="fragments:: footer"></nav>
</form>
</body>
</html>

