<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body class="container">
<h1 th:text="${title}">Strong</h1>
<nav th:replace="fragments:: header"></nav>
<p th:each="timer: *{timers}"
   th:text="${timer.number}"/>
<ul >
    <li th:text="${timeToPlay}">number</li>
</ul>
<p th:each="user : ${users}">
    <a th:href ="'/user/alter/' + ${user.id}" th:text="${user.name } + '  Add'"> Add Time </a>  |
    <a th:href="'/user/remove-time/' + ${user.id}" th:text="${user.name} + '  Subtract'">Remove Time</a>
</p>


</body>
</html>