<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>
<body class="container">
<h1 th:text="${title}">Strong</h1>
<!--<nav th:replace="fragments :: navigation"></nav>-->
<!--<p th:each="timer: *{timers}"-->
   <!--th:text="${timer.number}"/>-->
<!--todo why doesn't this work -->
<!--<p th:for = "${user}">-->
    <!--<a th:href ="'/user/edit/' + ${user.id}" th:text="${user.name } + '  Add'"> Add Time </a>  |-->
    <!--<a th:href="'/user/remove-time/' + ${user.id}" th:text="${user.name} + '  Subtract'">Remove Time</a>-->
<!--</p>-->
<!--<form method="post" style="max-width:600px;" th:objects="${form}" action="/menu/view">-->
    <!--<div class="form-group">-->
        <!--<select name ="timerId">-->

<ul >
    <li th:text="${timeToPlay}">number</li>
    <!--<li th:each="timer : ${timers}" th:text="${user.timers}">user timer</li>-->
</ul>
           <!--<table style="max-width:600px;" th:object="${form}" action="/user/view">-->
            <!--<tr th:each="timer: *{timers}"-->
                    <!--th:text="${timer.number}"-->
                    <!--th:value="${timer.id}">-->
                <!--th:value="${timerId}">-->

                <!--<span th:errors="*{timerId}" class="error"></span>-->
                <!--<tr th:each ="timer:${timers}">-->
                    <!--<td  th:text="${timer.number}"></td>-->
                <!--</tr>-->
            <!--</td>-->
           <!--</table>-->
<p th:text="${timeToPlay}"/>
<!--<p th:text="${timers}"/>-->
        <!--</select>-->
    <!--</div>-->
    <!--<input type="hidden" name="userId" th:value="${userId}"/>-->
    <!--<input type="submit" value ="Edit Time"/>-->
<!--</form>-->
<!--<h5 th:text="${timeToPlay}">none available</h5>-->
<!--<ul>-->
    <!--<li th:each="user:${users}" th:text="${user.name}"></li>-->
    <!--<li th:each="timer:${timers}" th:text="${timer.number}"></li>-->
<!--</ul>-->
<!--<p th:if="${timers==null}">users have not been given time</p>-->

<p th:each="user : ${users}">
    <a th:href ="'/user/edit/' + ${user.id}" th:text="${user.name } + '  Add'"> Add Time </a>  |
    <a th:href="'/user/remove-time/' + ${user.id}" th:text="${user.name} + '  Subtract'">Remove Time</a>
</p>
<nav th:replace="fragments:: footer"></nav>


</body>
</html>