<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="../compiled/flipclock.js"></script>

<body class="container" style="margin-top:110px">
<h1 th:text="${title}">Strong</h1>
<nav th:replace="fragments:: header"></nav>
<p th:each="timer: *{timers}"
   th:text="${timer.number}"/>
<ul >
    <li th:replace="fragments:: timeToPlay"> "minutes to play."</li>
</ul>
<!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->
<style>
p {
  text-align: center;
  font-size: 60px;
  margin-top:0px;
}
</style>

    <!--<div class="clock" style="margin:2em;"></div>-->
    <!--<script type="text/javascript">-->
        <!--var clock;-->
        <!--$(document).ready(function(){-->
            <!--clock = new FlipClock($('.clock'), {-->
            <!--clockFace: 'Counter',-->
            <!--autoStart: true-->
            <!--});-->
            <!--});-->
    <!--</script>-->
<p id="minutes"></p>

<nav th:replace="fragments:: userViewNav"></nav>
</body>
</html>