body{
font-family: sans-serif;
}

nav { margin-bottom: 20px;
margin-left: 20px;}
h1 { margin-left:55px;}
h2 { margin-left:55px;}
h3 { margin-left:55px;}
h4 { margin-left:55px;}
h5 { margin-left:55px;}
h6 { margin-left:55px;}
p {margin: 20px 12px 21px}
table {margin-left:40px;}
css cheatsheet websitesetup.org/css