<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Strong Timer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
     <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <!--<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

</head>
<nav th:fragment="date" style="max-width:400px; margin:120px;" class="navbar-inverse">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</nav>
<body>
<nav th:fragment="navigationTimer">
    <ul class="nav navbar-nav navbar-inverse">
        <li role="presentation"><a href="/timer/add">Add a Time</a> </li>
        <li role="presentation"><a href="/timer/remove">Remove Time</a></li>
    </ul>
</nav>
<nav th:fragment="nav">
    <ul class="nav navbar-nav navbar-inverse">
        <li role="presentation"><a href="/user">Users</a>  </li>
        <li role="presentation"><a href="/user/alter/">Adjust User's Time </a></li>
        <li role="presentation"><a href="/timer/remove-time">Remove</a></li>
    </ul>
</nav>
<nav th:fragment="header" class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <div ng-app="myApp" ng-controller="datCtrl" class="navbar-inverse container">
        <p>Today is {{ today | date }}</p>
    </div>
    <script>
    var app = angular.module('myApp', []);
    app.controller('datCtrl', function($scope) {
        $scope.today = new Date();
    });
    </script>
    <div class="container">
        <a class="navbar-brand" th:text="${title}">Title</a>
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li role="presentation"><a href="/timer">Times</a></li>
                <li role="presentation"><a href="/report">Reports</a></li>
                <li role="presentation"><a href="/user">Users</a></li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>