<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>
<body class="container">
<h1 th:text="${title}">Title</h1>
<nav th:replace="fragments:: header"></nav>

<form method="post" th:object="${timer}">
    <div class="form-group">
        <label th:for="number">Name</label>
        <input class="form-control" th:field ="*{number}"/>
        <span th:errors="*{number}" class="error"></span>
    </div>
    <input type="submit" value="Add Time"/>
</form>
</body>
</html>