<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>
<body class="container">
<h1 th:text="${title}" style="max-width:600px;" >Default Title</h1>
<nav th:replace="fragments:: header"></nav>

<p th:if=" ${timers==null}">no time</p>
<table class="table table-striped" style="max-width:400px;">
    <tr>
        <th>Time Amount</th>
    </tr>
    <tr th:each ="timer:${timers}">
        <td  th:text="${timer.number}"></td>
    </tr>
</table>
<nav th:replace="fragments:: navigationTimer"></nav>

</body>
</html>