<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments:: navigationTimer"></nav>
<nav th:replace="fragments:: footer"></nav>
<p th:unless="${timers} and ${timers!=null}">no time</p>
<table class="table">
    <tr>
        <th>Time Amount</th>
    </tr>
    <tr th:each ="timer:${timers}">
        <td  th:text="${timer.number}"></td>
    </tr>
</table>
<ul>
    <!--finds in model{} access the data-->

    <!--<li th:each="timer : ${timers}" th:text="${timer.number}"></li>-->

    <!--//${} looks in model -->
<!--//       iterator variable    refers to iterator variable-->
</ul>
</body>
</html>